---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="bg:dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto p-4">
      <div class="grid grid-cols-1 gap-8 py-5 md:grid-cols-2">
        <section class="rounded-lg bg-white p-5 shadow-lg dark:bg-gray-800">
          <h3 class="mb-4 text-center font-bold dark:text-indigo-400">
            Kontakt
          </h3>
          <div class="text-center">
            <p>
              E-Mail: <a
                href="mailto:{fsinf@uni-leipzig.de}"
                class="text-blue-500 dark:text-cyan-400">fsinf@uni-leipzig.de</a
              >
            </p>
            <p>
              Telefon: <a
                href="tel:+493419732297"
                class="text-blue-500 dark:text-cyan-400">+49 341 97 322 97</a
              >
            </p>
            <p>
              Unternehmen bitten wir von Werbe- und Kooperationsangeboten
              abzusehen. Da wir mit Unternehmen nicht kooperieren, bleiben diese
              unbeantwortet.
            </p>
            <p>
              Für <strong>Jobangebote</strong> haben wir einen Mailverteiler eingerichtet:
              <a
                href="mailto:jobs@fsinf.informatik.uni-leipzig.de"
                class="text-blue-500 dark:text-cyan-400"
                >jobs[at]fsinf.informatik.uni-leipzig.de</a
              >
            </p>
          </div>
        </section>

        <section class="rounded-lg bg-white p-5 shadow-lg dark:bg-gray-800">
          <h3 class="mb-4 text-center font-bold dark:text-indigo-400">
            FSR-Raum
          </h3>
          <p class="text-center">
            <br />
            Fachschaftsrat Informatik<br />
            <strong>Raum A-541</strong><br />
            Institut für Informatik<br />
            Augustusplatz 10<br />
            04109 Leipzig<br />
            <p></p>
          </p>

          <section class="rounded-lg bg-white p-5 shadow-lg dark:bg-gray-800">
            <h3 class="mb-4 text-center font-bold dark:text-indigo-400">
              Post
            </h3>
            <p class="text-center">
              Universität Leipzig<br />
              Fakultät für Mathematik und Informatik<br />
              Fachschaftsrat Informatik<br />
              PF 100920<br />
              04009 Leipzig<br />
              <p></p>
              <p class="text-center">
                Bitte bedenkt, dass Post zu uns manchmal etwas länger braucht.
              </p>
            </p>

            <section class="rounded-lg bg-white p-5 shadow-lg dark:bg-gray-800">
              <h3 class="mb-4 text-center font-bold dark:text-indigo-400">
                Mitglieder
              </h3>
              <p class="text-center">
                Bei den studentischen Wahlen im Juni 2024 wurden für die
                Amtszeit Oktober 2024 - September 2025 folgende Mitglieder in
                den FSR gewählt:<br /><br />
                Florian Speer, Yasmin Marschall, Pauline Rotkegel, Jil Kloß, Kevin
                Kunkel, Chloe Focke, Nikita Fehér, Martin Gutsche, Niko Konzack,
                Erik Thun, und Felix Bajus.
              </p>
            </section>
          </section>
        </section>
        <Footer />
      </div>
    </main></body
  >
</html>
