---
import Layout from '../layouts/BlogPost.astro';

const heroImage = undefined; // or your logic for determining the heroImage

const layoutProps = {
  title: "Kontakt",
  description: "Lorem ipsum dolor sit amet",
  pubDate: new Date('August 08 2021')
};

// Only add heroImage if it is defined
---

<Layout {...layoutProps}>
<section>
	<p>E-Mail: <a href="mailto:{fsinf@uni-leipzig.de}">fsinf@uni-leipzig.de</a>
	Telefon: <a href="tel:+493419732297">+49 341 97 322 97</a>
	<p>Unternehmen bitten wir von Werbe- und Kooperationsangeboten abzusehen. Da wir mit Unternehmen nicht kooperieren, bleiben diese unbeantwortet.
	Für <strong>Jobangebote</strong> haben wir einen Mailverteiler eingerichtet. Bitte senden Sie Jobangebote direkt an: <a href="mailto:jobs@fsinf.informatik.uni-leipzig.de">jobs[at]fsinf.informatik.uni-leipzig.de</a></p>
</section>

<section>
	<h3>FSR-Raum</h3>
	<address>
		Fachschaftsrat Informatik<br>
		<strong>Raum A-541</strong><br>
		Institut für Informatik<br>
		Augustusplatz 10<br>
		04109 Leipzig<br>
	</address>
</section>

<section>
	<h3>Post-Adresse</h3>
	<address>
		Universität Leipzig<br>
		Fakultät für Mathematik und Informatik<br>
		Fachschaftsrat Informatik<br>
		PF 100920<br>
		04009 Leipzig<br>
	</address>
	<p>Bitte bedenkt, dass Post zu uns manchmal etwas länger braucht.</p>
</section>

<section>
	<h3>Mitglieder</h3>
	<ul>
		<li>Marschall, Yasmin</li>
		<li>Speer, Florian</li>
		<li>Schneider, Linus A.</li>
		<li>Focke, Chloe</li>
		<li>Daas, Erik</li>
		<li>Wittig, Annemarie</li>
		<li>Deubel, Christian</li>
		<li>Bajus, Felix</li>
		<li>Brockmann, Mats</li>
		<li>Fehér, Nikita</li>
		<li>Konzack, Niko</li>
	</ul>
</section>
</Layout>
