---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="bg:dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="py-8">
      <h1 class="text-center font-bold dark:text-violet-400">
        Unsere Veranstaltungen
      </h1>

      <Carousel />

      <p class="mt-4 text-center">
        Wir als FSR sind gewillt euch über das Studium hinweg mit einem großen
        Angebot an Aktivitäten und Veranstaltungen zu beglücken. Hier ist eine
        kleine Fotogalerie über vergangene Events. Im <a href="/calendar"
          >Kalender</a
        > könnt ihr alle zukünftigen Events sehen.
      </p>

      <section>
        <h2 class="text-center font-bold dark:text-violet-400">Erstifahrt</h2>
        <p class="text-center">
          Eins vorab; Was ist eine Erstifahrt? Stellt euch eine Klassenfahrt vor
          - nur ohne Pflichtprogramm, mit 50 weiteren Studis und ohne
          Lehrkräfte.
        </p>
        <div
          class="mt-6 grid grid-cols-1 gap-8 px-4 sm:grid-cols-2 md:grid-cols-3"
        >
          <!-- Event Image 1 -->
          <img
            src="/assets/events/meddel.jpg"
            alt="Event 1"
            class="h-64 w-full cursor-pointer object-cover"
          />
          <!-- Event Image 2 -->
          <img
            src="/assets/events/fuego.jpg"
            alt="Event 2"
            class="h-64 w-full cursor-pointer object-cover"
          />
          <!-- Event Image 3 -->
          <img
            src="/assets/events/erstis.jpg"
            alt="Event 3"
            class="h-64 w-full cursor-pointer object-cover"
          />
        </div>
      </section>

      <section>
        <h2 class="text-center font-bold dark:text-violet-400">Gamejam</h2>
        <p class="text-center">
          Jedes Semester habt ihr bei unseren GameJam den Questpresso die
          Möglichkeit ein eigenes Spiel zu entwickeln✨
        </p>
        <p class="text-center">
          Bei einem GameJam geht es darum innerhalb einer Woche zu einen
          vorgegebenen Thema ein kurzes Spiel oder einen ersten Prototypen zu
          entwerfen.Begleitet wird das Ganze durch einige Workshops rund um
          Programmierung, Design und vieles mehr. Alle dazu gehörigen Infos
          findes du auf unseren <a href="https://discord.gg/XteEguwZYa"
            >Discord</a
          >. Auf <a href="https://questpresso-jam.itch.io/">Itch.io</a> findest du
          die Ergebnisse vergangener Jams.
        </p>
        <div
          class="mt-6 grid grid-cols-1 gap-8 px-4 sm:grid-cols-2 md:grid-cols-3"
        >
          <!-- Event Image 1 -->
          <img
            src="/assets/events/Logo.svg"
            alt="Event 1"
            class="h-64 w-full cursor-pointer"
          />
          <!-- Event Image 2 -->
          <img
            src="/assets/events/game0.png"
            alt="Event 2"
            class="h-64 w-full cursor-pointer object-cover"
          />
          <!-- Event Image 3 -->
          <img
            src="/assets/events/game1.png"
            alt="Event 3"
            class="h-64 w-full cursor-pointer object-cover"
          />
        </div>
      </section>

      <section>
        <h2 class="text-center font-bold dark:text-violet-400">Spieleabend</h2>
        <p class="text-center">
          Lust auf einen entspannten Abend mit coolen Leuten und jeder Menge
          Brett- & Kartenspiele? Dann kommt zu unserem gemeinsamen Spieleabend
          mit dem FSR Mathe! Egal, ob Strategiespiele, Partyspiele oder
          Klassiker – hier ist für alle was dabei.
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
