---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/Carousel.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="bg:dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="py-8">
      <h1 class="dark:text-violet-400 font-bold text-center">Unsere Veranstaltungen</h1>

      <Carousel />

      <p class="text-center mt-4">
        Wir als FSR sind gewillt euch über das Studium hinweg mit einem großen Angebot an Aktivitäten und Veranstaltungen zu beglücken.
        Hier ist eine kleine Fotogalerie über unsere Events, und um zu zeigen, dass wir nicht nur Matrikelnummern sind.
      </p>

      <h2 class="dark:text-violet-400 font-bold text-center">Erstifahrt</h2>
      <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-6 px-4">
        <!-- Event Image 1 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 1"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
        <!-- Event Image 2 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 2"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
        <!-- Event Image 3 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 3"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
      </section>

      <h2 class="dark:text-violet-400 font-bold text-center">Gamejam</h2>
      <p class="text-center">Jedes Semester habt ihr bei unseren GameJam den Questpresso die Möglichkeit ein eigenes Spiel zu entwickeln✨</p>
      <p>Bei einem GameJam geht es darum innerhalb einer Woche zu einen vorgegebenen Thema ein kurzes Spiel oder einen ersten Prototypen zu entwerfen.<br>
      Begleitet wird das Ganze durch einige Workshops rund um Programmierung, Design und vieles mehr.<br>
      Alle dazu gehörigen Infos findes du auf unseren <a href="https://discord.gg/XteEguwZYa">Discord</a>.<br>
      <a href="https://questpresso-jam.itch.io/">Hier</a> findest du die Ergebnisse vergangener Jams.</p>
      <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-6 px-4">
        <!-- Event Image 1 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 1"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
        <!-- Event Image 2 -->
        <img
          src="/assets/events/game0.png"
          alt="Event 2"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
        <!-- Event Image 3 -->
        <img
          src="/assets/events/game1.png"
          alt="Event 3"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
      </section>
      
      <h2 class="dark:text-violet-400 font-bold text-center">Hackspace</h2>
      <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-6 px-4">
        <!-- Event Image 1 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 1"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
        <!-- Event Image 2 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 2"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
        <!-- Event Image 3 -->
        <img
          src="/assets/events/neddeleude.png"
          alt="Event 3"
          class="w-full h-64 object-cover cursor-pointer hover:opacity-75 transition"
        />
      </section>
    </main>
    <Footer />
  </body>
</html>
