---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import News from "../components/News.astro";
import Accordion from "../components/Accordion.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="text-center">
      <h1>Willkommen beim Fachschaftsrat Informatik!</h1>
      <p>
        Wir sind die gewählte Vertretung der Studierenden am Institut für
        Informatik. Wir sind die 5. größte Fachschaft der Universität Leipzig
        und repräsentieren über 1.500 Studierende aus der <b>Informatik</b>,
        <b>Data Science</b>, <b>Digital Humanities</b>, <b>Bioinformatik</b> und
        <b>Medizininformatik</b>.
      </p>
      <p>
        Auf unserer Website stellen wir dir zahlreiche Informationen, Guides und
        weitere Resourcen zu deinem Studium und der Fachschaft zur Verfügung, um
        dein Studium an der Uni-Leipzig zu verbessern. Aktuelle Termine findest
        du in unserem <a href="/calendar">Kalender</a>.
      </p>
      <section>
        <h2>News</h2>
        <News />
        <!-- Include the News component -->
      </section>
      <p class="pt-10">
        Momentan organisieren wir den Großteil unserer Kommunikation über <a
          href="https://t.me/fsinfLeipzig">Telegram</a
        >. Auf Telegram findet ihr auch alle möglichen Gruppen zu Studiengängen
        und Modulen. Weiterhin gibt es noch einen <a
          href="https://discord.com/invite/kprYzcKpvk">Discord</a
        > Server und einen Moodle Kurs. Eine Übersicht aller wichtigen Links zu diesen
        Gruppen findet ihr in unserem Gitlab. Um Zugang zum Gitlab zu erhalten, folgt
        bitte den Anweisungen auf der <a
          href="https://git.fsinf.informatik.uni-leipzig.de/">Gitlab</a
        > Login Seite.
      </p>
      <p>
        Wir treffen uns außerdem jede Woche im Glaskasten im Augusteum (A 531).
        An ungeraden Kalenderwochen treffen wir uns montags um 13:00 Uhr; an
        geraden Wochen montags um 17:00 Uhr. Ihr könnt uns bei den Sitzungen
        immer besuchen und eure Themen mit einbringen.
      </p>
    </main>
    <Accordion />
    <Footer />
  </body>
</html>
