---
import "flowbite";
---

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
  is:inline
  defer></script>

<main>
  <h1 class="text-center font-bold dark:text-violet-400">FAQ</h1>
  <div class="text-center" id="accordion-collapse" data-accordion="collapse">
    <!-- Accordion Item 1 -->
    <h5 id="accordion-open-heading-1">
      <button
        type="button"
        class="flex w-full items-center justify-between rounded-t-lg border border-gray-200 bg-white p-4 text-left font-medium text-gray-500 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:border-gray-700 dark:bg-slate-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-800"
        data-accordion-target="#accordion-item-1"
        aria-expanded="true"
        aria-controls="accordion-item-1"
      >
        Was ist der FSR?
      </button>
    </h5>
    <div
      id="accordion-item-1"
      class="hidden"
      aria-labelledby="accordion-heading-1"
    >
      <p class="p-4 text-gray-500 dark:text-white">
        Der Fachschaftsrat (FSR) ist die Vertretung der Studierenden einer
        Fakultät oder eines Fachbereichs und setzt sich für ihre Interessen ein.
      </p>
    </div>

    <!-- Accordion Item 2 -->
    <h5 id="accordion-open-heading-1">
      <button
        type="button"
        class="flex w-full items-center justify-between rounded-lg border border-gray-200 bg-white p-4 text-left font-medium text-gray-500 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:border-gray-700 dark:bg-slate-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-800"
        data-accordion-target="#accordion-item-2"
        aria-expanded="false"
        aria-controls="accordion-item-2"
      >
        Wie kann ich im FSR mitmachen?
      </button>
    </h5>
    <div
      id="accordion-item-2"
      class="hidden"
      aria-labelledby="accordion-heading-2"
    >
      <p class="p-4 text-gray-500 dark:text-white">
        Interessierte Studierende können sich für den FSR aufstellen lassen oder
        an den regelmäßigen Sitzungen teilnehmen.
      </p>
    </div>

    <!-- Accordion Item 3 -->
    <h5 id="accordion-open-heading-1">
      <button
        type="button"
        class="flex w-full items-center justify-between rounded-lg border border-gray-200 bg-white p-4 text-left font-medium text-gray-500 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:border-gray-700 dark:bg-slate-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-800"
        data-accordion-target="#accordion-item-3"
        aria-expanded="false"
        aria-controls="accordion-item-3"
      >
        Welche Aufgaben hat der FSR?
      </button>
    </h5>
    <div
      id="accordion-item-3"
      class="hidden"
      aria-labelledby="accordion-heading-3"
    >
      <p class="p-4 text-gray-500 dark:text-white">
        Der FSR organisiert Veranstaltungen, berät Studierende und vertritt ihre
        Interessen gegenüber der Fakultät.
      </p>
    </div>

    <!-- Accordion Item 4 -->
    <h5 id="accordion-open-heading-1">
      <button
        type="button"
        class="flex w-full items-center justify-between rounded-lg border border-gray-200 bg-white p-4 text-left font-medium text-gray-500 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:border-gray-700 dark:bg-slate-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-800"
        data-accordion-target="#accordion-item-4"
        aria-expanded="false"
        aria-controls="accordion-item-4"
      >
        Wie erreiche ich den FSR?
      </button>
    </h5>
    <div
      id="accordion-item-4"
      class="hidden"
      aria-labelledby="accordion-heading-4"
    >
      <p class="p-4 text-gray-500 dark:text-white">
        Der FSR ist per E-Mail, über Social Media oder in seinem Büro während
        der Sprechzeiten erreichbar.
      </p>
    </div>

    <!-- Accordion Item 5 -->
    <h5 id="accordion-open-heading-1" class="text-center">
      <button
        type="button"
        class="flex w-full items-center justify-between rounded-lg border border-gray-200 bg-white p-4 text-left font-medium text-gray-500 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:border-gray-700 dark:bg-slate-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:focus:ring-gray-800"
        data-accordion-target="#accordion-item-5"
        aria-expanded="false"
        aria-controls="accordion-item-5"
      >
        Gibt es Vorteile, im FSR aktiv zu sein?
      </button>
    </h5>
    <div
      id="accordion-item-5"
      class="hidden"
      aria-labelledby="accordion-heading-5"
    >
      <p class="p-4 text-gray-500 dark:text-white">
        Ja! Aktive Mitglieder im FSR erwerben wertvolle Erfahrungen in
        Organisation, Teamarbeit und Kommunikation.
      </p>
    </div>
  </div>
</main>
