---
const today = new Date();
---

<footer
  class="light:bg-grey-200 p-8 pb-24 text-center text-gray-700 dark:bg-slate-800 dark:text-white"
>
  &copy; {today.getFullYear()} Fachschaftsrat Informatik.
  <div class="mt-4 flex justify-center gap-4">
    <a
      href="https://discord.com/invite/kprYzcKpvk"
      target="_blank"
      class="hover:text-gray-900"
    >
      <span class="sr-only">Fsinf Telegram</span>
      <img
        src="/assets/telegram.svg"
        alt="Twitter"
        width="32"
        height="32"
        aria-hidden="true"
        class="h-8 w-8"
      />
    </a>
    <a
      href="https://www.instagram.com/fsinf_leipzig/"
      target="_blank"
      class="hover:text-gray-900"
    >
      <span class="sr-only">Fsinf Insta</span>
      <img
        src="/assets/insta.svg"
        alt="Insta"
        width="32"
        height="32"
        aria-hidden="true"
        class="h-8 w-8"
      />
    </a>
    <a
      href="https://discord.com/invite/kprYzcKpvk"
      target="_blank"
      class="hover:text-gray-900"
    >
      <span class="sr-only">Fsinf Discord</span>
      <img
        src="/assets/discord.svg"
        alt="Discord"
        width="32"
        height="32"
        aria-hidden="true"
        class="h-8 w-8"
      />
    </a>
    <a
      href="https://git.fsinf.informatik.uni-leipzig.de/"
      target="_blank"
      class="hover:text-gray-900"
    >
      <span class="sr-only">Fsinf GitLab repo</span>
      <img
        src="/assets/gitlab.svg"
        alt="Mastodon"
        width="32"
        height="32"
        aria-hidden="true"
        class="h-8 w-8"
      />
    </a>
  </div>
</footer>
