---
const today = new Date();
---

<footer class="light:bg-grey-200 dark:bg-slate-800 dark:text-white text-gray-700 text-center p-8 pb-24">
  &copy; {today.getFullYear()} Fachschaftsrat Informatik.
  <div class="flex justify-center gap-4 mt-4">
    <a href="https://m.webtoo.ls/@astro" target="_blank" class="hover:text-gray-900">
      <span class="sr-only">Follow Astro on Mastodon</span>
      <img src="/assets/gitlab.svg" alt="Mastodon" width="32" height="32" aria-hidden="true" class="h-8 w-8">
    </a>
    <a href="https://twitter.com/astrodotbuild" target="_blank" class="hover:text-gray-900">
      <span class="sr-only">Follow Astro on Twitter</span>
      <img src="/assets/telegram.svg" alt="Twitter" width="32" height="32" aria-hidden="true" class="h-8 w-8">
    </a>
    <a href="https://github.com/withastro/astro" target="_blank" class="hover:text-gray-900">
      <span class="sr-only">Go to Astro's GitHub repo</span>
      <img src="/assets/insta.svg" alt="GitHub" width="32" height="32" aria-hidden="true" class="h-8 w-8">
    </a>
    <a href="https://discord.com/withastro" target="_blank" class="hover:text-gray-900">
      <span class="sr-only">Go to Astro's Discord server</span>
      <img src="/assets/discord.svg" alt="Discord" width="32" height="32" aria-hidden="true" class="h-8 w-8">
    </a>
  </div>
</footer>
